
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Şifreyi Sıfırlama Ekranı</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Scripts/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form method="post" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                    <span class="login100-form-title">
                        Şifreyi Sıfırlama Ekranı
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Lütfen Mail Adresinizi Giriniz.">
                        <input class="input100" type="text" name="eMail" placeholder="e-Mail">
                        <span class="focus-input100"></span>
                    </div>



                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Şifreyi Sıfırla
                        </button>
                    </div>

                    <div class="container-login100-form-btn">
                        @if (ViewBag.hata != null)
                        {
                            <p class="text-danger">@ViewBag.hata</p>
                        }
                    </div>



                </form>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/Scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Scripts/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/js/main.js"></script>

</body>
</html>